data.xlsx
2001-2999_set.xlsx
7000-8155_batch_fixed_results (DOI Results).xlsx
7000-8155_batch_fixed.xlsx
7000-8155_batch_manualreview.xlsx
7000-8155_batch-ORIGINAL.xlsx
input.xlsx
original_data.xlsx
FINAL EXCEL FILE/2001-2999 Batch/URL results - 2001-2999.xlsx
FINAL EXCEL FILE/2001-2999 Batch/VerificationForDOIs.xlsx
FINAL EXCEL FILE/7000-8155 Batch/DOIs_Only_results.xlsx
FINAL EXCEL FILE/7000-8155 Batch/FinalOutputAfterVerification.xlsx
FINAL EXCEL FILE/7000-8155 Batch/URL Results Completed - 13-MAR-2026.xlsx

# Python environment and cache files
.venv/
__pycache__/
*.pyc

# Build and release outputs
build/
dist/
installer-output/
